<template>
	<div class="login">
	 <div class="container mt-5">
		<div class="row d-flex justify-content-center">
		  <div class="col-lg-6 card px-3 center-card">
			<div class="text-center">
			  <div class="text-muted mb-3">
				<h1 class="mt-3">Login</h1>
			  </div>
			</div>
			<div>
				<ul class="alert alert-danger" v-if="this.isLoginFailed">
                    <li class="mb-0 ms-3">
                        Login incorrect check your email or password
                    </li>
                </ul>
			  <form role="form" @submit.prevent>
				<input class="mb-3 form-control" placeholder="Email" v-model="this.email" />
				<input type="password" placeholder="Senha" class="mb-3 form-control" v-model="this.password" />
				<div class="text-center">
				  <button type="button" class="btn btn-primary" @click="doLogin">Login</button>
				</div>
				<div class="d-flex p-2">
				</div>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </template>
<script>
export default {
	name:'Login',
	data(){
		return {
			email:'',
			password:'',
			isLoginFailed:false
		}
  	},
	mounted(){
		localStorage.setItem('auth',false)
		localStorage.setItem('users',JSON.stringify([{
			email:'alfasoft@email.com',
			password:'abc123'
		}]));
	},
	methods:{
		doLogin(){
			let users = JSON.parse(localStorage.getItem('users'));
			if(users.find(element => element.email ===this.email && element.password === this.password)){
				localStorage.setItem('auth',true);
				this.$router.push({ name: "contacts" });
			}
			else
				this.isLoginFailed = true;
		}
   }
}
</script>
<style>
</style>