<template>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h4>{{ this.id ? 'Edit Contact' : 'Add Contact' }}</h4>
            </div>
            <div class="card-body">
                <ul class="alert alert-warning" v-if="this.errorList.length>0">
                    <li class="mb-0 ms-3" v-for="(error,index) in this.errorList" :key="index">
                        {{ error }}
                    </li>
                </ul>
                <div class="mb-3">
                    <label for="">Name</label>
                    <input type="text" v-model="model.name" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for="">Contact</label>
                    <input type="number" v-model="model.contact" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for="">E-mail</label>
                    <input type="text" v-model="model.email" class="form-control"/>
                </div>
                <div class="mb-3">
                    <label for="">Picture</label>
                    <input accept='image/*' type="file" class="form-control" @change="onFileChange"/>
                    <img v-if="model.picture" class="mt-2" width="100" height="100"  :src="model.picture"/>
                </div>
                <div class="mb-3">
                   <button type="button" @click="saveContact" class="btn btn-primary">{{ this.id ? 'Edit' : 'Add'}}</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name: 'addEditContact',
    data(){
        return{
            contactsList:localStorage.getItem('contacts')?JSON.parse(localStorage.getItem('contacts')): [],
            errorList:[],
        }
    },
    computed:{
        id(){
          return this.$route.params.id
        },
        model(){
            return this.id ?
            this.contactsList[this.id]:
            {
                id:'',
                name:'',
                contact:'',
                email:'',
                picture:''
            }
        }
    },
    methods:{
        onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
         },
        createImage(file) {
            var reader = new FileReader();
            reader.onload = (e) => {
                this.model.picture = e.target.result;
            };
            reader.readAsDataURL(file);
         },
        saveContact(){
            if(this.validateFields()){
                if(this.id){
                    this.contactsList[this.id] = this.model;
                    localStorage.setItem('contacts',JSON.stringify(this.contactsList));
                }
                else{
                    this.model.id = this.contactsList.length>0 ?
                        this.contactsList[this.contactsList.length-1].id+1 :
                        0;
                    this.contactsList.push(this.model);
                    localStorage.setItem('contacts',JSON.stringify(this.contactsList));
                    this.contactsList = JSON.parse(localStorage.getItem('contacts'));
                    Object.keys(this.model).forEach(index => this.model[index] = '');
                }
                alert('Contact save succesfully')
            }
        },
        validateFields(){
            this.errorList = [];
            Object.keys(this.model).forEach(prop => {
                switch (prop) {
                    case 'name':
                        if(this.model[prop].length<5)
                            this.errorList.push(`The ${prop} should be greater than 5 characters`);
                        break;
                    case 'contact':
                        if(this.model[prop].toString().length!==9)
                            this.errorList.push(`The ${prop} should have 9 digits`);
                        else if(this.contactsList.find(element => element.contact === this.model[prop]) && !this.id)
                            this.errorList.push(`This ${prop} already exists, please try another`);
                        break;
                    case 'email':
                        if(!this.validateEmail(this.model[prop]))
                            this.errorList.push('This email is invalid');
                        else if(this.contactsList.find(element => element.email === this.model[prop]) && !this.id)
                            this.errorList.push(`This ${prop} already exists, please try another`);
                        break;
                    case 'picture':
                        if(this.model[prop] ==='')
                            this.errorList.push(`You can not save a user without a ${prop}`);
                        break;
                    default:
                        break;
                }
            });
            return this.errorList.length===0;
        },
       validateEmail (email){
        return String(email)
            .toLowerCase()
            .match(
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        }
    }
}
</script>