<template>
    <div class="container mt-5 details">
        <div class="card text-center">
            <img :src="model.picture" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ model.id }} - {{model.name }}</h5>
              <p class="card-text">{{model.contact }}</p>
              <p class="card-text">{{model.email }}</p>
            </div>
          </div>
    </div>
</template>
<script>
export default{
    name: 'DetailsContact',
    computed:{
        id(){
          return this.$route.params.id
        },
        model(){
            return JSON.parse(localStorage.getItem('contacts'))[this.id]
        }
    },
}
</script>