<template>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
          <h4>
            Contacts
            <RouterLink  :to="{ name: 'contact-add'}" class="btn btn-primary float-end">
              Add Contact
            </RouterLink>
          </h4>
      </div>
      <div class="card-body">
        <table class="text-center table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Picture</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody v-if="this.contactsList.length>0">
            <tr  v-for="(contact,index) in this.contactsList" :key="index">
              <td>{{contact.id}}</td>
              <td>{{contact.name}}</td>
              <td>{{contact.contact}}</td>
              <td>{{contact.email}}</td>
              <td><img width="50" height="50"  :src="contact.picture"/></td>
              <td >
               <RouterLink :to="{ name: 'contact-edit', params: { id: index } }" class="btn btn-success me-2">
                  Edit
                </RouterLink>
                <button   @click="deleteData(index)" type="button" class="btn btn-danger me-2">
                  Delete
                </button>
                <RouterLink :to="{ name: 'contact-details', params: { id: index } }" class="btn btn-secondary">
                  Details
                </RouterLink>
              </td>
            </tr>
          </tbody>
          <tbody v-else>
            <tr>
              <td colspan="6" >
                There is no contact yet
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'contacts',
  data(){
    return {
      contactsList:[]
    }
  },
  mounted(){
    this.getContacts();
  },
  methods:{
    getContacts(){
      this.contactsList = localStorage.getItem('contacts')?JSON.parse(localStorage.getItem('contacts')): []
    },
    deleteData(index){
      if(localStorage.getItem('auth')=== "true"){
        if(confirm('Are you sure, you want to delete this contact?')){
          this.contactsList.splice(index,1);
          localStorage.setItem('contacts',JSON.stringify(this.contactsList));
          alert('Contact delete succesfully!')
        }
      }
    },
  }
}
</script>
